body {
  font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
  margin: 0 auto;
  height: 100vh;
  background-color: #0282f9;
  box-sizing: border-box;
  padding: 0;
}

header {
  background-color: #ffffff;
  max-height: 160px;
}

.header-top {
  background-color: #0282f9;
  height: 25px;
}
.header-top ul li {
  font-size: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
}
ul li {
  height: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 15px;
}

a {
  color: #303030;
  padding: 0px 10px;
  text-decoration: none;
}
a:hover {
  color: #0282f9;
  border-bottom: 3px solid #0282f9;
}

.ul-header {
  margin-left: 135px;
}

#jumbo {
  background-image: url(../images/jumbotron.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 400px;
}

.bottone {
  margin-top: -80px;
  font-size: 30px;
}

.shop {
  background-color: #0282f9;
  padding: 25px;
}

.shop .col-2 img {
  width: 25%;
}

footer {
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.grey li {
  color: #8f8d8d;
}

.bottom-footer {
  background-color: #303030;
  height: 100px;
}

.sign-up {
  background-color: #303030;
  color: #ffffff;
  border: 2px solid #0282f9;
  padding: 5px 10px;
}

.dc-bg {
  margin-top: -100px;
}

.bottom-footer {
  margin-top: -25px;
}

#white {
  background-color: #ffffff;
}

.bg-blue {
  background-color: #0282f9;
  height: 100px;
  width: 100%;
}

.small-container {
  width: 1000px;
  margin: 0 auto;
}

.thumb {
  margin-top: -450px;
  border: 1px solid #ffffff;
}

.title {
  text-transform: uppercase;
}